
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Note {
<title>Tin tức | Bệnh viện đa khoa MEDLATEC</title>

    <meta name="description" content="@Html.Raw("Chuyên khoa y tế | Bệnh viện đa khoa MEDLATEC")" />


    <meta name="title" content="@Html.Raw("Chuyên khoa y tế | Bệnh viện đa khoa MEDLATEC")" />

    <meta name="keywords" content="@Html.Raw("Chuyên khoa y tế | Bệnh viện đa khoa MEDLATEC")" />

    <meta name="robots" content="index,follow,all">
    <link rel="canonical" href="https://medlatec.vn/chuyen-khoa" />
    <style>
        .specialista {
            text-align: center;
            margin: 20px 0 0;
        }

            .specialista a {
                font-size: 16px;
                line-height: 19px;
                padding: 8px 25px 8px 18px;
                background: #1576C4 url(../images/arrow-right-white.png) no-repeat right 15px center;
                color: #fff;
                display: inline-block;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                border-radius: 18px;
            }

    </style>
}

<div class="breadcrumb-container container">
    <ul class="clearfix">
        <li><a href="https://medlatec.vn/">Trang chủ</a></li>

        <li><span>  Chuyên khoa MEDLATEC </span></li>
    </ul>
</div>

<div class="specialist container">
    <div class="specialist-row row">
        <h1 class="title" style="display:none;">Chuyên khoa MEDLATEC</h1>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-noi" title="Chuyên khoa nội"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-chuyen-khoa-noi.jpg" title="Chuyên khoa nội" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-noi" title="Chuyên khoa nội">Chuyên khoa nội</a></h3>


                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-noi" title="Chuyên khoa nội">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/ung-buou" title="Ung bướu"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-ung-buou.jpg" title="Ung bướu" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/ung-buou" title="Ung bướu">Ung bướu</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/ung-buou" title="Ung bướu">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/san-khoa" title="Sản khoa"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/chuyen-khoa-san.jpg" title="Sản khoa" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/san-khoa" title="Sản khoa">Sản khoa</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/san-khoa" title="Sản khoa">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/trung-tam-xet-nghiem" title="Xét nghiệm"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-xet-nghiem.jpg" title="Xét nghiệm" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/trung-tam-xet-nghiem" title="Xét nghiệm">Xét nghiệm</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/trung-tam-xet-nghiem" title="Xét nghiệm">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh" title="Chẩn đoán hình ảnh"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-cdha.jpg" title="Chẩn đoán hình ảnh" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh" title="Chẩn đoán hình ảnh">Chẩn đoán hình ảnh</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh" title="Chẩn đoán hình ảnh">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/ngoai-khoa" title="Khoa Ngoại"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-ngoai-khoa.jpg" title="Khoa Ngoại" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/ngoai-khoa" title="Khoa Ngoại">Khoa Ngoại</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/ngoai-khoa" title="Khoa Ngoại">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/tieu-hoa" title="Tiêu hóa"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-chuyen-khoa-tieu-hoa.jpg" title="Tiêu hóa" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/tieu-hoa" title="Tiêu hóa">Tiêu hóa</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/tieu-hoa" title="Tiêu hóa">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/tim-mach" title="Tim mạch"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/chuyen-khoa-tim-mach.jpg" title="Tim mạch" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/tim-mach" title="Tim mạch">Tim mạch</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/tim-mach" title="Tim mạch">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/noi-tiet" title="Nội tiết"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-noi-tiet.jpg" title="Nội tiết" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/noi-tiet" title="Nội tiết">Nội tiết</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/noi-tiet" title="Nội tiết">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/nam-khoa" title="Nam khoa"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-nam-khoa.jpg" title="Nam khoa" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/nam-khoa" title="Nam khoa">Nam khoa</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/nam-khoa" title="Nam khoa">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/co-xuong-khop" title="Xương khớp"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-co-xuong-khop.jpg" title="Xương khớp" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/co-xuong-khop" title="Xương khớp">Xương khớp</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/co-xuong-khop" title="Xương khớp">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/truyen-nhiem" title="Truyền nhiễm"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-truyen-nhiem.jpg" title="Truyền nhiễm" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/truyen-nhiem" title="Truyền nhiễm">Truyền nhiễm</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/truyen-nhiem" title="Truyền nhiễm">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/than-kinh" title="Thần kinh"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-chuyen-khoa-noi-than-kinh.jpg" title="Thần kinh" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/than-kinh" title="Thần kinh">Thần kinh</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/than-kinh" title="Thần kinh">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/nhi-khoa" title="Nhi khoa"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-khoa-nhi.jpg" title="Nhi khoa" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/nhi-khoa" title="Nhi khoa">Nhi khoa</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/nhi-khoa" title="Nhi khoa">Xem thêm</a></div>
                </div>
            </div>
        </div>
        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-mat" title="Mắt"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-mat.jpg" title="Mắt" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-mat" title="Mắt">Mắt</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-mat" title="Mắt">Xem thêm</a></div>
                </div>
            </div>
        </div>


        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/tai-mui-hong" title="Tai mũi họng"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-tai-mui-hong.jpg" title="Tai mũi họng" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/tai-mui-hong" title="Tai mũi họng">Tai mũi họng</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/tai-mui-hong" title="Tai mũi họng">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/da-lieu" title="Da liễu"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-da-lieu.jpg" title="Da liễu" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/da-lieu" title="Da liễu">Da liễu</a></h3>

                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/da-lieu" title="Da liễu">Xem thêm</a></div>
                </div>
            </div>
        </div>

        <div class="specialist-col col-6 col-lg-4 col-xl-3">
            <div class="specialist-item">
                <div class="specialist-img"><a href="https://medlatec.vn/chuyen-khoa/rang-ham-mat" title="Răng hàm mặt"><img src="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-RHM.jpg" title="Răng hàm mặt" /></a></div>
                <div class="specialist-box">
                    <h3 class="specialist-title"><a href="https://medlatec.vn/chuyen-khoa/rang-ham-mat" title="Răng hàm mặt">Răng hàm mặt</a></h3>
                    
                    <div class="specialista"><a href="https://medlatec.vn/chuyen-khoa/rang-ham-mat" title="Răng hàm mặt">Xem thêm</a></div>
                </div>
            </div>
        </div>

    </div>
</div>

