
@{
    ViewBag.Title = "finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-skdn my-auto">

    <div class="col-12 d-block d-xl-none" style="padding-left:0px;padding-right:0px;">

        <a href="https://medlatec.vn/"><img src="/Content/images/finish_mobile.png" alt="Finish" /></a>

    </div>
    <div class="col-lg-12 d-none d-sm-block" style="padding-left:0px;padding-right:0px;">
        <a href="https://medlatec.vn/"><img src="/Content/images/finish_pc.png" alt="Finish" /></a>
    </div>





</div>


