
@{
    ViewBag.Title = "Thankyou1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20501699-10"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-20501699-10');
</script>


<div class="thanks-page container">
    <div class="thanks-container">
        <div class="thanks-title"><img src="/content/images/photo_2021-04-14_16-52-58.jpg" /> </div>
        <div class="thanks-home"><a href="https://medlatec.vn/">Trở lại trang chủ</a></div>
    </div>
</div>
