
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou4</title>
    <link rel="stylesheet" href="/Content/images/dangkythanhcong/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/images/dangkythanhcong/css/styles.css">
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20501699-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-20501699-10');
    </script>
	
</head>
<body>
    <section id="sec-camon" style="background: url('/Content/images/dangkythanhcong/img/Asset26.png ') top / cover no-repeat;height: 100vh;position: relative;"></section>
    
    <script src="/Content/images/dangkythanhcong/js/jquery.min.js"></script>
    <script src="/Content/images/dangkythanhcong/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
