
@{
    ViewBag.Title = "Thankyou1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thanks-page container">
    <div class="thanks-container">
        <div class="thanks-title">Thank You!</div>
        <div class="thanks-subtitle">Quý khách đã đăng ký khám thành công, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất.</div>
        <div class="thanks-home"><a href="https://medlatec.vn/">Trở lại trang chủ</a></div>
    </div>
</div>

