
@{
    ViewBag.Title = "TestModal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-container container">
    <ul class="clearfix">
        <li><a href="https://medlatec.vn/">Trang chủ</a></li>

        <li><span>Kết quả tìm kiếm : HBsAg</span></li>
    </ul>
</div>
<div class="archive-news container">
    <div class="archive-news--row row">
        <div class="archive-news--col col-xl-9 col-lg-8 col-md-7">
            <div class="archive-news--container">
                <h2 style="font-size:24px;padding-top:15px;">Định nghĩa về : HBsAg </h2>
                <div class="faq-archive--item clearfix">

                    <div class="faq-archive--content">
                     
                        <a style="color:#333;" href="/hoi-dap/van-de-xet-nghiem--c3-q45326#traloi" title="vẫn đề x&#233;t nghiệm ">
                            <h3>Ý nghĩa thông thường </h3>
                        </a>
                        <div class="faq-archive--desc">
                            <i>
                                Trường hợp cơ thể khỏe mạnh, sức đề kháng tốt thì virus có thể giảm dần và dần biến mất trong khoảng 4 - 6 tháng tiếp theo. Nếu cơ thể khỏi bệnh thì bệnh nhân sẽ có khả năng miễn dịch suốt đời với virus viêm gan B. Bệnh nhân nên đi khám và xét nghiệm viêm gan B lại sau 6 tháng để kiểm tra rõ tình trạng.

                              <br/>Trường hợp sức khỏe yếu, không thể đẩy lùi được virus thì bệnh nhân sẽ bị viêm gan B mãn tính. Trường hợp này được tính khi kết quả xét nghiệm lại sau 6 tháng vẫn dương tính.<br/> Nếu bệnh nhân bị viêm gan B mãn tính thì sẽ phải làm thêm các xét nghiệm đánh giá chức năng gan như: xét nghiệm huyết học, xét nghiệm sinh hóa và các xét nghiệm sinh học phân tử như: HBV-DNA, HBV genotyping.
                            </i>
                        </div>
                 
                    </div>
                </div>
                <div class="faq-archive--item clearfix">

                    <div class="faq-archive--content">
                    
                        <a style="color:#333;" href="/hoi-dap/hoi-ve-ket-qua-xet-nghiem-c3-q43963#traloi" title="hỏi về kết quả x&#233;t nghiệm">
                            <h3>Ý nghĩa chuyên môn</h3>
                        </a>
                        <div class="faq-archive--desc">
                            <i>
                                Sau khi xét nghiệm định tính HBsAg thì cần làm đầy đủ theo thứ tự lần lượt: Định lượng HBsAg, Anti-HBs (HBsAb), HBeAg, Anti-HBe (HBeAb), Anti-HBc và Anti-HBc IgM.

                                Ngoài ra, người bệnh cần lưu ý, kể cả khi xét nghiệm HBsAg chuyển đổi thành âm tính thì vẫn có nguy cơ bị xơ gan, thậm chí là ung thư gan. Dù virus đã biến mất nhưng ADN của virus này vẫn có thể tồn tại ở những người này. Nói cách khác là có thể virus vẫn còn nhưng ở mức độ kỹ thuật xét nghiệm không có khả năng phát hiện.

                                Xét nghiệm định tính HBsAg chỉ có thể xác định được cơ thể có nhiễm virus hay không chứ không biết được tình trạng hoạt động của virus như thế nào, có thể phát triển, lây lan không, mức độ ảnh hưởng ra sao. Để biết được những thông tin này, người bệnh cần làm thêm nhiều xét nghiệm bổ sung khác.

                                Trường hợp viêm gan B dương tính, bệnh nhân cần tuân thủ phác đồ điều trị của bác sĩ, không được tự ý mua thuốc, dừng thuốc hoặc đổi thuốc khác vì có thể ảnh hưởng đến quá trình điều trị bệnh sau này.
                            </i> </div>
                 
                    </div>
                </div>
               




            </div>

            <div class="archive-news--container">
                <h2 style="font-size:24px;padding-top:15px;">Những bản tin nói về : HBsAg </h2>
                <div class="archive-news--list">

                    <div class="archive-news--item">
                        <div class="archive-item--row row">
                            <div class="archive-item-col col-lg-4">
                                <div class="archive-item--img">
                                    <a href="/tin-tuc/hoi-dap-xet-nghiem-viem-gan-b-het-bao-nhieu-tien-s58-n17511" title="Hỏi đ&#225;p: X&#233;t nghiệm vi&#234;m gan B hết bao nhi&#234;u tiền?"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200320/20200320_Xet-nghiem-viem-gan-B-het-bao-nhieu-tien-1.jpg" alt="Hỏi đ&#225;p: X&#233;t nghiệm vi&#234;m gan B hết bao nhi&#234;u tiền?" /></a>

                                </div>
                            </div>
                            <div class="archive-item-col col-lg-8">
                                <div class="archive-item--content">
                                    <h3><a href="/tin-tuc/hoi-dap-xet-nghiem-viem-gan-b-het-bao-nhieu-tien-s58-n17511" title="Hỏi đ&#225;p: X&#233;t nghiệm vi&#234;m gan B hết bao nhi&#234;u tiền?">Hỏi đ&#225;p: X&#233;t nghiệm vi&#234;m gan B hết bao nhi&#234;u tiền?</a></h3>

                                    <div class="archive-item--info clearfix">
                                        <span class="archive-item--date">Ngày 20/03/2020</span>


                                    </div>
                                    <div class="archive-item--desc d-none d-xl-block">X&#233;t nghiệm vi&#234;m gan B hết bao nhi&#234;u tiền l&#224; thắc mắc của rất nhiều người bởi tỷ lệ ca mắc đang ng&#224;y c&#224;ng tăng. X&#233;t nghiệm n&#224;y l&#224; c&#244;ng cụ ch&#237;nh x&#225;c gi&#250;p c&#225;c đối tượng đang nghi ngờ c&#243; thể x&#225;c định m&#236;nh c&#243; nhiễm virus hay kh&#244;ng. Trong b&#224;i viết dưới đ&#226;y ch&#250;ng ta sẽ c&#249;ng t&#236;m hiểu về loại x&#233;t nghiệm n&#224;y v&#224; chi ph&#237; khi thực hiện nh&#233;.</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="archive-news--item">
                        <div class="archive-item--row row">
                            <div class="archive-item-col col-lg-4">
                                <div class="archive-item--img">
                                    <a href="/tin-tuc/viem-gan-c-va-cac-loai-xet-nghiem-viem-gan-c-giup-chan-doan-benh-som&#160;-s58-n17072" title="Vi&#234;m gan C v&#224; c&#225;c loại x&#233;t nghiệm vi&#234;m gan C gi&#250;p chẩn đo&#225;n bệnh sớm&#160;"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200206/20200206_viem-gan-c-va-cac-loai-xet-nghiem-viem-gan-c-giup-chan-doan-benh-som.jpg" alt="Vi&#234;m gan C v&#224; c&#225;c loại x&#233;t nghiệm vi&#234;m gan C gi&#250;p chẩn đo&#225;n bệnh sớm" /></a>

                                </div>
                            </div>
                            <div class="archive-item-col col-lg-8">
                                <div class="archive-item--content">
                                    <h3><a href="/tin-tuc/viem-gan-c-va-cac-loai-xet-nghiem-viem-gan-c-giup-chan-doan-benh-som&#160;-s58-n17072" title="Vi&#234;m gan C v&#224; c&#225;c loại x&#233;t nghiệm vi&#234;m gan C gi&#250;p chẩn đo&#225;n bệnh sớm&#160;">Vi&#234;m gan C v&#224; c&#225;c loại x&#233;t nghiệm vi&#234;m gan C gi&#250;p chẩn đo&#225;n bệnh sớm</a></h3>

                                    <div class="archive-item--info clearfix">
                                        <span class="archive-item--date">Ngày 06/02/2020</span>


                                    </div>
                                    <div class="archive-item--desc d-none d-xl-block">Vi&#234;m gan C l&#224; một bệnh l&#253; về gan, g&#226;y ra những ảnh hưởng nghi&#234;m trọng đến chức năng gan. Thậm ch&#237; n&#243; c&#243; thể chuyển từ cấp t&#237;nh sang mạn t&#237;nh m&#224; kh&#244;ng c&#243; bất kỳ dấu hiệu n&#224;o. Ch&#237;nh v&#236; vậy việc l&#224;m c&#225;c x&#233;t nghiệm vi&#234;m gan C để sớm được ph&#225;t hiện v&#224; điều trị bệnh, gi&#250;p l&#224;m giảm thiểu những biến chứng xấu đối với cơ thể người bệnh như: xơ gan, ung thư gan l&#224; rất cần thiết.&#160;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="archive-news--item">
                        <div class="archive-item--row row">
                            <div class="archive-item-col col-lg-4">
                                <div class="archive-item--img">
                                    <a href="/tin-tuc/viem-gan-b-co-nguy-hiem-khong-lieu-co-anh-huong-den-tinh-mang-s94-n16800" title="Vi&#234;m gan B c&#243; nguy hiểm kh&#244;ng? Liệu c&#243; ảnh hưởng đến t&#237;nh mạng?"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200111/20200111_viem-gan-b-co-nguy-hiem-khong-lieu-co-anh-huong-den-tinh-mang-khong.jpg" alt="Vi&#234;m gan B c&#243; nguy hiểm kh&#244;ng? Liệu c&#243; ảnh hưởng đến t&#237;nh mạng?" /></a>

                                </div>
                            </div>
                            <div class="archive-item-col col-lg-8">
                                <div class="archive-item--content">
                                    <h3><a href="/tin-tuc/viem-gan-b-co-nguy-hiem-khong-lieu-co-anh-huong-den-tinh-mang-s94-n16800" title="Vi&#234;m gan B c&#243; nguy hiểm kh&#244;ng? Liệu c&#243; ảnh hưởng đến t&#237;nh mạng?">Vi&#234;m gan B c&#243; nguy hiểm kh&#244;ng? Liệu c&#243; ảnh hưởng đến t&#237;nh mạng?</a></h3>

                                    <div class="archive-item--info clearfix">
                                        <span class="archive-item--date">Ngày 11/01/2020</span>


                                    </div>
                                    <div class="archive-item--desc d-none d-xl-block">Vi&#234;m gan B l&#224; căn bệnh phổ biến, nhiều người mắc phải hiện nay. Đ&#226;y l&#224; căn bệnh rất dễ l&#226;y truyền v&#224; ảnh hưởng nhiều tới cuộc sống của người bệnh. Vậy vi&#234;m gan B c&#243; nguy hiểm kh&#244;ng? Nguy&#234;n nh&#226;n v&#224; c&#225;ch điều trị căn bệnh n&#224;y l&#224; g&#236;? H&#227;y c&#249;ng t&#236;m hiểu qua b&#224;i viết dưới đ&#226;y.&#160;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    



                </div>




            </div>
            <div class="clearfix">

            </div>
            <div class="archive-news--container">
                <h2 style="font-size:24px;padding-top:15px;">Những câu hỏi về : HBsAg </h2>
                <div class="faq-archive--item clearfix">

                    <div class="faq-archive--content">
                        <div class="faq-archive--info clearfix">
                            <div class="faq-archive--author">Trần thị thanh thủy</div>
                            <div class="faq-archive--date">22/01/2020</div>

                        </div>
                        <a style="color:#333;" href="/hoi-dap/van-de-xet-nghiem--c3-q45326#traloi" title="vẫn đề x&#233;t nghiệm ">
                            <h3>Vẫn đề x&#233;t nghiệm </h3>
                        </a>
                        <div class="faq-archive--desc">   Xin ch&#224;o . E mới xn vi&#234;m gan si&#234;u vi b ở bệnh viện minh về ạ . V&#224; đc gửi cho kết quả l&#224; greyzone ạ . Vậy e l&#224; e c&#243; bị vi&#234;m gan b hay k ? V&#224; e muốn đi xuất khẩu lao động nhật đc k ạ  </div>
                        <div class="faq-archive--box clearfix">

                            <div class="faq-archive--cat clearfix"> MEDLATEC trả lời : Trần thị thanh thủy về <a style="float:right;color:#1576C4;" href="/hoi-dap/van-de-xet-nghiem--c3-q45326#traloi" title="vẫn đề x&#233;t nghiệm "> vẫn đề x&#233;t nghiệm </a></div>





                        </div>
                    </div>
                </div>
                <div class="faq-archive--item clearfix">

                    <div class="faq-archive--content">
                        <div class="faq-archive--info clearfix">
                            <div class="faq-archive--author">Phương</div>
                            <div class="faq-archive--date">23/12/2019</div>

                        </div>
                        <a style="color:#333;" href="/hoi-dap/hoi-ve-ket-qua-xet-nghiem-c3-q43963#traloi" title="hỏi về kết quả x&#233;t nghiệm">
                            <h3>Hỏi về kết quả x&#233;t nghiệm</h3>
                        </a>
                        <div class="faq-archive--desc">
                            Kết quả x&#233;t nghiệm m&#225;u của Em
                            - HBsAg (Architect): 2077.02 (S/CO ) Dương T&#237;nh
                            - HBsAb định lượng (Cobas): &lt; 2.00 (U/L )
                            - AST (Architect): 36.93 (U/L )
                            - ALT (Architect): 55.52 (U/L )
                            Mong được BS giải đ&#225;p th&#234;m về c&#225;c chỉ số tr&#234;n
                            Tr&#226;n trọng cảm ơn!
                        </div>
                        <div class="faq-archive--box clearfix">

                            <div class="faq-archive--cat clearfix"> MEDLATEC trả lời : Phương về <a style="float:right;color:#1576C4;" href="/hoi-dap/hoi-ve-ket-qua-xet-nghiem-c3-q43963#traloi" title="hỏi về kết quả x&#233;t nghiệm"> hỏi về kết quả x&#233;t nghiệm</a></div>





                        </div>
                    </div>
                </div>
                <div class="faq-archive--item clearfix">

                    <div class="faq-archive--content">
                        <div class="faq-archive--info clearfix">
                            <div class="faq-archive--author">Nguyễn Thị Phương Thảo</div>
                            <div class="faq-archive--date">28/11/2019</div>

                        </div>
                        <a style="color:#333;" href="/hoi-dap/dang-uong-thuoc-chong-virus-co-anh-huong-den-thai-nhi-khong-c3-q42824#traloi" title="đang uống thuốc chống virus c&#243; ảnh hưởng đến thai nhi kh&#244;ng?">
                            <h3>Đang uống thuốc chống virus c&#243; ảnh hưởng đến thai nhi kh&#244;ng?</h3>
                        </a>
                        <div class="faq-archive--desc">   Ch&#224;o b&#225;c sĩ. Hồi e mang bầu lần 1 được chẩn đo&#225;n vi&#234;m gan B. Sau khi sinh được 2 th&#225;ng em uống thuốc usa tenvir 300. Trong thời gian uống thuốc em bị nhỡ kế hoạch v&#224; giờ đang mang thai được 7 tuần. B&#225;c sĩ cho em hỏi thuốc em uống c&#243; ảnh hưởng đến thai nhi kh&#244;ng ạ? Em c&#243; thể giữ được đứa b&#233; kh&#244;ng? Nguy cơ l&#226;y bệnh sang con c&#243; cao kh&#244;ng ạ?  Nếu giữ được em c&#243; cần tiếp tục uống thuốc kh&#244;ng? Em rất mong nhận được phản hồi sớm từ b&#225;c sĩ. Em xin cảm ơn!  </div>
                        <div class="faq-archive--box clearfix">

                            <div class="faq-archive--cat clearfix"> MEDLATEC trả lời : Nguyễn Thị Phương Thảo về <a style="float:right;color:#1576C4;" href="/hoi-dap/dang-uong-thuoc-chong-virus-co-anh-huong-den-thai-nhi-khong-c3-q42824#traloi" title="đang uống thuốc chống virus c&#243; ảnh hưởng đến thai nhi kh&#244;ng?"> đang uống thuốc chống virus c&#243; ảnh hưởng đến thai nhi kh&#244;ng?</a></div>





                        </div>
                    </div>
                </div>




            </div>




        </div>
       
        <div class="faq-page--col faq-page--sidebar col-xl-3 col-lg-4">
            <div class="faq-sidebar">

                <div class="faq-rating">
                    <div class="faq-rating--title">Câu hỏi nổi bật trong tháng</div>
                    <ul>
                        <li data-number="1">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/tre-co-the-thieu-vi-chat-c9-q48201" title="trẻ c&#243; thể thiếu vi chất">Trẻ c&#243; thể thiếu vi chất</a></h3>

                            </div>
                        </li>
                        <li data-number="2">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/cuc-u-o-giua-dai-tai-va-ham-c14-q48200" title="cục u ở giữa d&#225;i tai v&#224; h&#224;m">Cục u ở giữa d&#225;i tai v&#224; h&#224;m</a></h3>

                            </div>
                        </li>
                        <li data-number="3">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/cuc-u-o-giua-dai-tai-va-ham-c14-q48199" title="cục u ở giữa d&#225;i tai v&#224; h&#224;m">Cục u ở giữa d&#225;i tai v&#224; h&#224;m</a></h3>

                            </div>
                        </li>
                        <li data-number="4">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/bi-te-mot-vung-dui-c9-q48196" title="bị t&#234; một v&#249;ng đ&#249;i">Bị t&#234; một v&#249;ng đ&#249;i</a></h3>

                            </div>
                        </li>
                        <li data-number="5">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/kha-nang-sinh-san-c4-q48192" title="khả năng sinh sản">Khả năng sinh sản</a></h3>

                            </div>
                        </li>
                        <li data-number="6">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/bi-cho-nha-da-tiem-ngua-dai-can-c76-q48190" title="bị ch&#243; nh&#224; đ&#227; ti&#234;m ngừa dại cắn">Bị ch&#243; nh&#224; đ&#227; ti&#234;m ngừa dại cắn</a></h3>

                            </div>
                        </li>
                        <li data-number="7">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/sinh-san--c4-q48189" title="sinh sản ">sinh sản </a></h3>

                            </div>
                        </li>
                        <li data-number="8">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/ket-qua-xet-nghiem--c22-q48185" title="kết quả x&#233;t nghiệm ">Kết quả x&#233;t nghiệm </a></h3>

                            </div>
                        </li>
                        <li data-number="9">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/hoi-ve-tsh-c34-q48180" title="hỏi về tsh">Hỏi về TSH</a></h3>

                            </div>
                        </li>
                        <li data-number="10">
                            <div class="faq-rating--item">
                                <h3><a href="/hoi-dap/xet-nghiem-viem-gan-b-c10-q48178" title="x&#233;t nghiệm vi&#234;m gan b">X&#233;t nghiệm vi&#234;m gan B</a></h3>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-container">
                <div class="news-post">
                    <h2>Tin mới nhất</h2>
                    <div class="news-post--list">

                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/benh-vien-da-khoa-medlatec-dam-bao-phuc-vu-khach-hang-kham-chua-benh-an-toan-trong-mua-dich-s194-n17576" title="Bệnh viện Đa khoa MEDLATEC đảm bảo phục vụ kh&#225;ch h&#224;ng kh&#225;m, chữa bệnh an to&#224;n trong m&#249;a dịch"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_MED_8216.jpg" alt="Bệnh viện Đa khoa MEDLATEC đảm bảo phục vụ kh&#225;ch h&#224;ng kh&#225;m, chữa bệnh an to&#224;n trong m&#249;a dịch" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/benh-vien-da-khoa-medlatec-dam-bao-phuc-vu-khach-hang-kham-chua-benh-an-toan-trong-mua-dich-s194-n17576" title="Bệnh viện Đa khoa MEDLATEC đảm bảo phục vụ kh&#225;ch h&#224;ng kh&#225;m, chữa bệnh an to&#224;n trong m&#249;a dịch">Bệnh viện Đa khoa MEDLATEC đảm bảo phục vụ kh&#225;ch h&#224;ng kh&#225;m, chữa bệnh an to&#224;n trong m&#249;a dịch</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/noi-soi-bao-nhieu-tien-cac-tieu-chi-danh-gia-co-so-noi-soi-uy-tin-s173-n17575" title="Nội soi bao nhi&#234;u tiền, c&#225;c ti&#234;u ch&#237; đ&#225;nh gi&#225; cơ sở nội soi uy t&#237;n"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_noi-soi-tieu-hoa-1.jpg" alt="Nội soi bao nhi&#234;u tiền, c&#225;c ti&#234;u ch&#237; đ&#225;nh gi&#225; cơ sở nội soi uy t&#237;n" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/noi-soi-bao-nhieu-tien-cac-tieu-chi-danh-gia-co-so-noi-soi-uy-tin-s173-n17575" title="Nội soi bao nhi&#234;u tiền, c&#225;c ti&#234;u ch&#237; đ&#225;nh gi&#225; cơ sở nội soi uy t&#237;n">Nội soi bao nhi&#234;u tiền, c&#225;c ti&#234;u ch&#237; đ&#225;nh gi&#225; cơ sở nội soi uy t&#237;n</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/chup-ct-mach-vanh-giup-chan-doan-chinh-xac-benh-mach-vanh-s154-n17574" title="Chụp CT mạch v&#224;nh gi&#250;p chẩn đo&#225;n ch&#237;nh x&#225;c bệnh mạch v&#224;nh"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_chup-ct-mach-vanh-06.jpg" alt="Chụp CT mạch v&#224;nh gi&#250;p chẩn đo&#225;n ch&#237;nh x&#225;c bệnh mạch v&#224;nh" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/chup-ct-mach-vanh-giup-chan-doan-chinh-xac-benh-mach-vanh-s154-n17574" title="Chụp CT mạch v&#224;nh gi&#250;p chẩn đo&#225;n ch&#237;nh x&#225;c bệnh mạch v&#224;nh">Chụp CT mạch v&#224;nh gi&#250;p chẩn đo&#225;n ch&#237;nh x&#225;c bệnh mạch v&#224;nh</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/chup-ct-mach-mau-nao-o-dau-uy-tin-chat-luong-s154-n17573" title="Chụp CT mạch m&#225;u n&#227;o ở đ&#226;u uy t&#237;n chất lượng?"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_chup-ct-dau-2.jpg" alt="Chụp CT mạch m&#225;u n&#227;o ở đ&#226;u uy t&#237;n chất lượng?" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/chup-ct-mach-mau-nao-o-dau-uy-tin-chat-luong-s154-n17573" title="Chụp CT mạch m&#225;u n&#227;o ở đ&#226;u uy t&#237;n chất lượng?">Chụp CT mạch m&#225;u n&#227;o ở đ&#226;u uy t&#237;n chất lượng?</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/noi-soi-tri-va-nhung-dieu-can-biet-truoc-khi-thuc-hien-s154-n17572" title="Nội soi trĩ v&#224; những điều cần biết trước khi thực hiện"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_noi-soi-tri-co-dau-khong.jpg" alt="Nội soi trĩ v&#224; những điều cần biết trước khi thực hiện" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/noi-soi-tri-va-nhung-dieu-can-biet-truoc-khi-thuc-hien-s154-n17572" title="Nội soi trĩ v&#224; những điều cần biết trước khi thực hiện">Nội soi trĩ v&#224; những điều cần biết trước khi thực hiện</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post--item">
                            <div class="news-post--row row">
                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                    <div class="news-post--img">
                                        <a href="/tin-tuc/sieu-am-mach-chi-duoi-la-gi-khi-nao-nen-thuc-hien-s193-n17571" title="Si&#234;u &#226;m mạch chi dưới l&#224; g&#236;, khi n&#224;o n&#234;n thực hiện?"><img src="https://login.medlatec.vn/ImagePath/imageslead/20200326/20200326_sieu-am-mach-chi-duoi-1.jpg" alt="Si&#234;u &#226;m mạch chi dưới l&#224; g&#236;, khi n&#224;o n&#234;n thực hiện?" /></a>


                                    </div>
                                </div>
                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                    <div class="news-post--content">
                                        <h3><a href="/tin-tuc/sieu-am-mach-chi-duoi-la-gi-khi-nao-nen-thuc-hien-s193-n17571" title="Si&#234;u &#226;m mạch chi dưới l&#224; g&#236;, khi n&#224;o n&#234;n thực hiện?">Si&#234;u &#226;m mạch chi dưới l&#224; g&#236;, khi n&#224;o n&#234;n thực hiện?</a></h3>

                                        <div class="news-post--info clearfix">
                                            <span class="news-post--date">Ngày 26/03/2020</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


